/*Style CSS File*/

/*First thing is a place to state our variables*/
:root {
    --bookend: #9B2335;
    --font-theme: "Papyrus", "Copperplate", "Times New Roman", "serif";

}

/*Needed a background color that was easy on the eyes. White and Black are the most common background colors, but figured a light blue would be easy on the eyes regardless of the light/dark themes.*/
body {
    background-color: #5D8AA8;
    min-height: 100vh;
    /*I wanted my footer to be at the end of the page with no space below it, so we needed to set the pages height to a variable known as the viewport. We want to fill the entire viewed section*/
    display: grid;

}

h1 {
    margin-left: 20px;
    /*Wanted our title to not be right up against the side*/
    text-shadow: #FC0 1px 0 10px;
}

h1,
h3,
h4 {
    color: black;
    font-family: var(--font-theme);
    text-shadow: #FC0 1px 0 10px;

}

.topicTitle {
    font-family: var(--font-theme);
    text-shadow: #FC0 1px 0 10px;
}


/*Our header needs a lot of work.  Along with the name of the page, wanted the navigation buttons on the same line, but opposite sides of the page. */
header {
    font-family: var(--font-theme);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*This makes it so that our links will shift to the bottom of the header in case of smaller screens/mobile browsers.*/
    justify-content: space-between;
    align-items: center;
    background-color: var(--bookend);
}

nav a {
    text-decoration-style: solid;
    font-size: x-large;
    /* wanted our text to be somewhat proportional to the h1 header*/
    margin-right: 20px;
    /*added so that there is space inbetween the links*/
    font-family: var(--font-theme);
    
}

/*Didn't want the standard link colors being blue and purple, so with the next two we are able to change those to colors and even styles we want.*/
a:link {
    color: black;
}

a:visited {
    color: yellow;
}

a:hover {
    color: white;
    cursor: grab;
}

a:active {
    color: gray;
}

/*Here is the image for the banner*/
.hero {
    height: 125px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/woods.jpg");
    /*<a href="https://www.vecteezy.com/free-vector/woods">Woods Vectors by Vecteezy</a>*/
    background-size: cover;
    background-position: center;
    position: relative;
    /*These 3 lines let us decide how and where we want the text to be displayed*/
    text-align: center;
    color: white;
}

/*This is where we actually get to decide the paramaters for our subtitle. we have some positioning already set thanks to the .hero class, but we need to tell it where in relation to the banner of where to go*/
.subtitle {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-family: var(--font-theme);
    font-weight: bolder;
    /*A couple tweeks just so the sizing is bigger and more readable*/
    font-size: larger;
    text-shadow: #FC0 1px 0 10px;

}

main {
    display: flex;
    flex-wrap: wrap;
}

.topics {
    display: flex;
    width: 75%;
}

h2 {
    font-family: var(--font-theme);
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    margin-left: 20px;
    border-right: 3px solid var(--bookend);
    font-size: 2vw;
    line-height: 1.1;
    text-shadow: #FC0 1px 0 10px;
}


#profile-pic {
    float: left;
    margin-left: 20px;
    width: 200px;
    height: 200px;
    margin-right: 20px;

}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}


.aboutme {
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;


}


.flex-item {
    border: 5px solid var(--tertiary);
    color: var(--primary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 2em);
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 100%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

.flex-item:first-child {
    min-height: 350px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: rgba(0, 0, 0, .5);
}

.flex-item div {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px 10px;

}

.projects h3{
    font-size: x-large;
    color: white;
}
.work1 {
    margin-left: 20px;
    background-image: url(../images/horiseonpage.png);
    background-position: center;
}

.work2 {
    margin-left: 20px;
    background-image: url(../images/preworkstudyguide.png);
    background-position: center;
}

.work3 {
    margin-left: 20px;
    background-image: url(../images/construction.jpg);
    /*<a href="https://www.vecteezy.com/free-vector/under-construction">Under Construction Vectors by Vecteezy</a>*/
    background-position: center;
    text-decoration: solid;
}

.work4 {
    margin-left: 20px;
    background-image: url(../images/coming.jpg);
    /*<a href="https://www.vecteezy.com/free-vector/coming-soon">Coming Soon Vectors by Vecteezy</a>*/
    background-position: center;

}

#address {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-theme);
    text-shadow: #FC0 1px 0 10px;
    text-decoration-style: solid;
    font-size: x-large;
    margin: 50px;
    margin-left: 200px;
    gap: 50px;
    
}
#address a{
    color: black;
}

footer {
    font-family: var(--font-theme);
    text-align: center;
    background-color: var(--bookend);
    margin-top: auto;
    text-shadow: #FC0 1px 0 10px;
}

